<% if (messages && messages.error) { %>
    <div class="alert alert-danger"><%= messages.error %></div>
<% } %>
<% if (messages && messages.success) { %>
    <div class="alert alert-success"><%= messages.success %></div>
<% } %>
<!-- blog details part here -->
<section class="blog_page section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single_blog_details">
                    <div data-aos="fade-up" data-aos-duration="1000" class="blog_details_content">
                        <img src="<%= post.image %>" alt="#" class="img-fluid">
                        <h2><%= post.title %></h2>
                        <%- post.content %>
                    </div>
                    
                    <div data-aos="fade-up" data-aos-duration="2400" class="tag_share_list blog_page_single_item">
                        <div class="post_tag d-flex align-items-center">
                            <h4 class="tag-title">برچسب ها:</h4>
                            <% if (post.tags && post.tags.length > 0) { %>
                                <% post.tags.forEach(tag => { %>
                                    <a href="#" class="btn_4"><%= tag %></a>
                                <% }); %>
                            <% } else { %>
                                <a href="#" class="btn_4">عمومی</a>
                            <% } %>
                        </div>
                        <div class="share_icon_list d-flex align-items-center">
                            <h4>اشتراک گذاری:</h4>
                            <a href="#"><i class="social_facebook"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_pinterest"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                        </div>
                    </div>
                    
                    <!-- Comments Section -->
                    <div data-aos="fade-up" data-aos-duration="2800" class="single_review_part blog_page_single_item">
                        <div class="comment_part">
                            <h3>نظرات (<%= comments ? comments.length : 0 %>)</h3>
                            
                            <% if (comments && comments.length > 0) { %>
                                <% comments.forEach(comment => { %>
                                    <div class="media" id="comment-<%= comment.id %>">
                                        <img src="<%= comment.avatar || '/assets/img/student.png' %>" class="admin_img" alt="#">
                                        <div class="media-body">
                                            <div class="admin_tittle">
                                                <h5><%= comment.name %> <span><%= timeAgo(comment.createdAt) %></span></h5>
                                            </div>
                                            <p><%= comment.content %></p>
                                            <button type="button"  class="reply_btn" onclick="showReplyForm('<%= comment.id %>')">
                                                <i class="arrow_back"></i>پاسخ
                                            </button>
                                            
                                            <!-- Reply Form (hidden by default) -->
                                            <div id="reply-form-<%= comment.id %>" class="reply_form" style="display: none; margin-top: 20px;">
                                                <form action="/blog/post/<%= post.id %>/comment" method="POST">
                                                    <input type="hidden" name="parentId" value="<%= comment.id %>">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form_single_item">
                                                                <input type="text" name="name" placeholder="نام شما" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form_single_item">
                                                                <input type="email" name="email" placeholder="ایمیل شما" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form_single_item">
                                                                <textarea name="content" placeholder="پاسخ شما" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn_3">ارسال پاسخ</button>
                                                    <button type="button" class="btn_4" onclick="hideReplyForm('<%= comment.id %>')">انصراف</button>
                                                </form>
                                            </div>
                                            
                                            <!-- Replies -->
                                            <% if (comment.replies && comment.replies.length > 0) { %>
                                                <% comment.replies.forEach(reply => { %>
                                                    <div class="media" style="margin-right: 50px;">
                                                        <img src="<%= reply.avatar || '/assets/img/student.png' %>" class="admin_img" alt="#">
                                                        <div class="media-body">
                                                            <div class="admin_tittle">
                                                                <h5><%= reply.name %> <span><%= timeAgo(reply.createdAt) %></span></h5>
                                                            </div>
                                                            <p><%= reply.content %></p>
                                                        </div>
                                                    </div>
                                                <% }) %>
                                            <% } %>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <p style="color: #666; padding: 20px 0;">هنوز نظری ثبت نشده است. اولین نفر باشید!</p>
                            <% } %>
                        </div>
                    </div>
                    
                    <!-- Main Comment Form -->
                    <div id="review" data-aos="fade-up" data-aos-duration="3000" class="review_form blog_page_single_item">
                        <h3>نظر خود را بنویسید</h3>
                        <form action="/blog/post/<%= post.id %>/comment" method="POST">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_single_item">
                                        <input type="text" name="name" placeholder="نام شما" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_single_item">
                                        <input type="email" name="email" placeholder="ایمیل شما" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_single_item">
                                        <textarea name="content" placeholder="متن نظر" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn_3">ارسال نظر</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <!-- Sidebar (unchanged) -->
                <div class="blog_sidebar right-sidebar">
                    <div data-aos="fade-up" data-aos-duration="1200" class="single_sidebar">
                        <form action="#" class="search_form">
                            <input type="text" name="search" placeholder="جستجو...">
                            <i class="icon_search"></i>
                        </form>
                    </div>
                    
                    <div data-aos="fade-up" data-aos-duration="1400" class="single_sidebar">
                        <h3>آخرین پست ها</h3>
                        <% recentPosts.forEach(recent => { %>
                            <div class="single_sidebar_post">
                                <img src="<%= recent.image %>" alt="<%= recent.title %>">
                                <div class="sidebar_post_content">
                                    <h4><a href="/blog/post/<%= recent.id %>"><%= recent.title %></a></h4>
                                    <p><%= recent.date %></p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    
                    <div data-aos="fade-up" data-aos-duration="1600" class="single_sidebar">
                        <h3>دسته بندی</h3>
                        <div class="category_list">
                            <p><a href="#"><i class="arrow_carrot-left"></i>طراحی اپلیکیشن (4)</a></p>
                            <p><a href="#"><i class="arrow_carrot-left"></i>طراحی لوگو (6)</a></p>
                            <p><a href="#"><i class="arrow_carrot-left"></i>کسب و کار (10)</a></p>
                            <p><a href="#"><i class="arrow_carrot-left"></i>فناوری اطلاعات و نرم افزار (14)</a></p>
                            <p><a href="#"><i class="arrow_carrot-left"></i>برنامه نویسی (12)</a></p>
                            <p><a href="#"><i class="arrow_carrot-left"></i>فن آوری (10)</a></p>
                            <p><a href="#"><i class="arrow_carrot-left"></i>موسیقی (8)</a></p>
                            <p><a href="#"><i class="arrow_carrot-left"></i>خلاقیت (9)</a></p>
                        </div>
                    </div>
                    
                    <div data-aos="fade-up" data-aos-duration="1800" class="single_sidebar">
                        <h3>برچسب ها</h3>
                        <div class="sidebar_tag_list">
                            <a href="#" class="btn_4">تحصیلات</a>
                            <a href="#" class="btn_4">طراحی وب سایت</a>
                            <a href="#" class="btn_4">غذا</a>
                            <a href="#" class="btn_4">سیستم خنک کننده</a>
                            <a href="#" class="btn_4">شگفت انگیز</a>
                            <a href="#" class="btn_4">نرم افزار</a>
                            <a href="#" class="btn_4">لندینگ</a>
                            <a href="#" class="btn_4">تمیز</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- JavaScript for Reply Form Toggle -->
<script>
    function showReplyForm(commentId) {
        const form = document.getElementById('reply-form-' + commentId);
        if (form) {
            form.style.display = 'block';
            // form.scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    }
    
    function hideReplyForm(commentId) {
        const form = document.getElementById('reply-form-' + commentId);
        if (form) {
            form.style.display = 'none';
        }
    }
</script>

<!-- cta part here -->
<section class="cta_part section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="cta_part_iner">
                    <h2>بهترین معلمان در هر رشته</h2>
                    <p>ما می توانیم هر چیزی را به شما آموزش دهیم</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cta_btn">
                    <a href="/course-list" class="btn_3">شروع کنید</a>
                </div>
            </div>
        </div>
    </div>
    <div class="circle_shape_1"></div>
    <div class="circle_shape_2"></div>
</section>
