<div id="content" class="site-content" bis_skin_checked="1">
    <div class="lp-archive-courses" bis_skin_checked="1">
        <ul class="learn-press-breadcrumb">
            <li><a href="index.html" bis_skin_checked="1"><span>خانه</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-left"></i></li>
            <li><a href="course-list.html" bis_skin_checked="1"><span>همه دوره ها</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-left"></i></li>
            <li><a href="course-category.html" bis_skin_checked="1"><span>علوم کامپیوتر</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-left"></i></li>
            <li><span>توسعه نرم افزار</span></li>
        </ul>
        <div id="learn-press-course" class="course-summary" bis_skin_checked="1">
            <div class="course-content course-summary-content" bis_skin_checked="1">
                <div class="course-detail-info" bis_skin_checked="1">
                    <div class="lp-content-area" bis_skin_checked="1">
                        <div class="course-info-left" bis_skin_checked="1">
                            <div class="course-meta course-meta-primary" bis_skin_checked="1">
                                <div class="course-meta__pull-left" bis_skin_checked="1">
                                    <div class="meta-item meta-item-instructor" bis_skin_checked="1">
                                        <div class="meta-item__image" bis_skin_checked="1">
                                            <img alt="User Avatar" src="/assets/img/author_5.jpg" srcset="/assets/img/author_5.jpg" class="avatar avatar-96 photo" height="250" width="250" loading="lazy">
                                        </div>
                                        <div class="meta-item__value" bis_skin_checked="1">
                                            <label>استاد</label>
                                            <div bis_skin_checked="1">
                                                <a href="my-profile.html" bis_skin_checked="1"><span>آدام اسمیت</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta-item meta-item-categories" bis_skin_checked="1">
                                        <div class="meta-item__value" bis_skin_checked="1">
                                            <label>دسته بندی</label>
                                            <div bis_skin_checked="1">
                                                <a href="course-category.html" rel="tag" bis_skin_checked="1">علوم کامپیوتر</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="course-title">علوم کامپیوتر</h1>
                            <div class="course-meta course-meta-secondary" bis_skin_checked="1">
                                <div class="course-meta__pull-left" bis_skin_checked="1">
                                    <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                    <div class="meta-item meta-item-level" bis_skin_checked="1">همه مراحل</div>
                                    <div class="meta-item meta-item-lesson" bis_skin_checked="1"><span class="meta-number">
                                        <%= course.sections.reduce((total, section) =>
                                            total + section.lessons.length, 0) %> درس
                                        </span></div>
                                    <div class="meta-item meta-item-quiz" bis_skin_checked="1"><span class="meta-number">1 آزمون</span></div>
                                    <div class="meta-item meta-item-student" bis_skin_checked="1"><span class="meta-number">0 دانش آموز</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lp-entry-content lp-content-area" bis_skin_checked="1">
                    <div class="entry-content-left" bis_skin_checked="1">
                        <div class="course-extra-box" bis_skin_checked="1">
                            <h3 class="course-extra-box__title">الزامات</h3>
                            <div class="course-extra-box__content" bis_skin_checked="1">
                                <div class="course-extra-box__content-inner" bis_skin_checked="1">
                                    <ul>
                                        <% course.requirements.forEach(item => { %>
                                        <li><%= item %></li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="course-extra-box" bis_skin_checked="1">
                            <h3 class="course-extra-box__title">آینده</h3>
                            <div class="course-extra-box__content" bis_skin_checked="1">
                                <div class="course-extra-box__content-inner" bis_skin_checked="1">
                                    <ul>
                                        <% course.outcomes.forEach(item => { %>
                                        <li><%= item %></li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="course-extra-box" bis_skin_checked="1">
                            <h3 class="course-extra-box__title">هدف مخاطبان</h3>
                            <div class="course-extra-box__content" bis_skin_checked="1">
                                <div class="course-extra-box__content-inner" bis_skin_checked="1">
                                    <ul>
                                        <% course.targetAudience.forEach(item => { %>
                                        <li><%= item %></li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="learn-press-course-tabs" class="course-tabs" bis_skin_checked="1">
                            <input type="radio" name="learn-press-course-tab-radio" id="tab-overview-input" checked="checked" value="overview">
                            <input type="radio" name="learn-press-course-tab-radio" id="tab-curriculum-input" value="curriculum">
                            <input type="radio" name="learn-press-course-tab-radio" id="tab-instructor-input" value="instructor">
                            <input type="radio" name="learn-press-course-tab-radio" id="tab-faqs-input" value="faqs">
                            <ul class="learn-press-nav-tabs course-nav-tabs" data-tabs="4">
                                <li class="course-nav course-nav-tab-overview active">
                                    <label for="tab-overview-input">بررسی کلی</label>
                                </li>
                                <li class="course-nav course-nav-tab-curriculum">
                                    <label for="tab-curriculum-input">برنامه تحصیلی</label>
                                </li>
                                <li class="course-nav course-nav-tab-instructor">
                                    <label for="tab-instructor-input">استاد</label>
                                </li>
                                <li class="course-nav course-nav-tab-faqs">
                                    <label for="tab-faqs-input">سوالات</label>
                                </li>
                            </ul>
                            <div class="course-tab-panels" bis_skin_checked="1">
                                <div class="course-tab-panel-overview course-tab-panel" id="tab-overview" bis_skin_checked="1">
                                    <div class="course-description" id="learn-press-course-description" bis_skin_checked="1">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                    </div>
                                </div>
                                <div class="course-tab-panel-curriculum course-tab-panel" id="tab-curriculum" bis_skin_checked="1">
                                    <div class="course-curriculum" id="learn-press-course-curriculum" bis_skin_checked="1">
                                        <div class="curriculum-scrollable" bis_skin_checked="1">
                                            <ul class="curriculum-sections">

                                            <% course.sections.forEach(section => { %>

                                            <li class="section" id="section-section-1-38" data-id="section-1-38" data-section-id="38">

                                                <div class="section-header" bis_skin_checked="1">
                                                    <div class="section-left" bis_skin_checked="1">

                                                        <h5 class="section-title">
                                                            <%= section.title %>

                                                            <p class="section-desc">
                                                                <%= section.description %>
                                                            </p>
                                                        </h5>
                                                        <span class="section-toggle">
                                                            <i class="fas fa-caret-down"></i>
                                                            <i class="fas fa-caret-up"></i>
                                                        </span>
                                                    </div>
                                                </div>

                                                <ul class="section-content">

                                                    <% section.lessons.forEach(lesson => { %>

                                                    <li class="course-item course-item-lp_lesson course-item-1027 item-preview has-status" data-id="1027">

                                                        <a
                                                            class="section-item-link"
                                                            href="/course/<%= course.slug %>/lesson/<%= lesson.session %>" bis_skin_checked="1">
                                                            <span class="item-name">
                                                                <%= lesson.title %>
                                                            </span>
                                                            <div class="course-item-meta" bis_skin_checked="1">
                                                                <span class="item-meta course-item-preview" data-preview="پیش نمایش"></span>
                                                            </div>
                                                        </a>

                                                    </li>

                                                    <% }) %>

                                                </ul>

                                            </li>

                                            <% }) %>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-tab-panel-instructor course-tab-panel" id="tab-instructor" bis_skin_checked="1">
                                    <div class="course-author" bis_skin_checked="1">
                                        <div class="lp-course-author" bis_skin_checked="1">
                                            <div class="course-author__pull-left" bis_skin_checked="1">
                                                <img alt="User Avatar" src="/assets/img/author_5.jpg" srcset="/assets/img/author_5.jpg" class="avatar avatar-96 photo" height="250" width="250" loading="lazy">
                                            </div>
                                            <div class="course-author__pull-right" bis_skin_checked="1">
                                                <div class="author-title" bis_skin_checked="1"><a href="my-profile.html" bis_skin_checked="1"><span>آدام اسمیت</span></a>
                                                </div>
                                                <div class="author-description margin-bottom" bis_skin_checked="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-tab-panel-faqs course-tab-panel" id="tab-faqs" bis_skin_checked="1">
                                    <input type="checkbox" name="course-faqs-box-ratio" id="course-faqs-box-ratio-6150b1eb67f33">
                                    <div class="course-faqs-box" bis_skin_checked="1">
                                        <label class="course-faqs-box__title" for="course-faqs-box-ratio-6150b1eb67f33">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                        </label>
                                        <div class="course-faqs-box__content" bis_skin_checked="1">
                                            <div class="course-faqs-box__content-inner" bis_skin_checked="1">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="checkbox" name="course-faqs-box-ratio" id="course-faqs-box-ratio-6150b1eb67f6b">
                                    <div class="course-faqs-box" bis_skin_checked="1">
                                        <label class="course-faqs-box__title" for="course-faqs-box-ratio-6150b1eb67f6b">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                        </label>
                                        <div class="course-faqs-box__content" bis_skin_checked="1">
                                            <div class="course-faqs-box__content-inner" bis_skin_checked="1">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="checkbox" name="course-faqs-box-ratio" id="course-faqs-box-ratio-6150b1eb67faa">
                                    <div class="course-faqs-box" bis_skin_checked="1">
                                        <label class="course-faqs-box__title" for="course-faqs-box-ratio-6150b1eb67faa">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                        </label>
                                        <div class="course-faqs-box__content" bis_skin_checked="1">
                                            <div class="course-faqs-box__content-inner" bis_skin_checked="1">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="checkbox" name="course-faqs-box-ratio" id="course-faqs-box-ratio-6150b1eb67fd5">
                                    <div class="course-faqs-box" bis_skin_checked="1">
                                        <label class="course-faqs-box__title" for="course-faqs-box-ratio-6150b1eb67fd5">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                        </label>
                                        <div class="course-faqs-box__content" bis_skin_checked="1">
                                            <div class="course-faqs-box__content-inner" bis_skin_checked="1">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end entry content left -->
                    </div>
                    <aside class="course-summary-sidebar">
                        <div class="course-summary-sidebar__inner" bis_skin_checked="1">
                            <div class="course-sidebar-top" bis_skin_checked="1">
                                <div class="course-sidebar-preview" bis_skin_checked="1">
                                    <div class="media-preview" bis_skin_checked="1">
                                        <img width="370" height="280" src="/assets/img/popular_item_2.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                    </div>
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">120هزارتومان</span>
                                    </div>
                                    <div class="lp-course-buttons" bis_skin_checked="1">
                                        <a href="checkout.html">
                                            <button class="lp-button button button-purchase-course">
                                                خرید
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <div class="course-featured-review margin-bottom" bis_skin_checked="1">
                                    <h4 class="featured-review__title">بررسی ویژه</h4>
                                    <div class="featured-review__stars" bis_skin_checked="1">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="featured-review__content" bis_skin_checked="1">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>